In [1]:
import pandas as pd
import numpy as np
from itertools import chain
import re

In [2]:
#открываем и сохраняем как датафрейм файл с данными:
try:
    # personal path
    df = pd.read_csv('C:/Users/wzick/linkedin (3).csv')  
except:
    # Yandex path
    df = pd.read_csv('/linkedin (3).csv')

display(df.head(10))
display(df.info())
display(df.describe())

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,What You Will Achi...,47.0
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,NaN
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,Data Analyst - Lo...,NaN
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,Salary: To b...,NaN
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,FORFIRM is p...,NaN
5,Data Analyst - Logistics,Southampton,United Kingdom,On-site,"Butler, Bridge & May",not specified,not specified,None,Location: Southam...,NaN
6,Data Analyst,Leeds,United Kingdom,On-site,Maria Mallaband Care Group Ltd,not specified,not specified,None,We’re Maria Malla...,NaN
7,Data Analyst,Nuneaton,United Kingdom,Hybrid,Kelly Group,not specified,not specified,None,Kelly Group are s...,NaN
8,Data Analyst,Paris,France,On-site,eXalt,"501-1,000 employees",IT Services and IT Consulting,"<span class=""visually-hidden""><!-- -->Skills: ...",Qui sont-ils ? ...,140.0
9,Data Analyst - Hybrid Working,Cambridge,United Kingdom,On-site,Blue Arrow,not specified,not specified,None,Data Analyst ...,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            998 non-null    object
 1   location         998 non-null    object
 2   country          998 non-null    object
 3   employment_type  998 non-null    object
 4   company_name     996 non-null    object
 5   employee_qty     998 non-null    object
 6   company_field    998 non-null    object
 7   skills           998 non-null    object
 8   job_description  998 non-null    object
 9   applicants       838 non-null    float64
dtypes: float64(1), object(9)
memory usage: 78.1+ KB

None

       applicants
count  838.000000
mean    58.052506
std     47.534251
min      1.000000
25%     22.000000
50%     45.000000
75%     86.000000
max    199.000000

Удаляем дубликаты

In [3]:
df = df.drop_duplicates()
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 886 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            886 non-null    object
 1   location         886 non-null    object
 2   country          886 non-null    object
 3   employment_type  886 non-null    object
 4   company_name     884 non-null    object
 5   employee_qty     886 non-null    object
 6   company_field    886 non-null    object
 7   skills           886 non-null    object
 8   job_description  886 non-null    object
 9   applicants       727 non-null    float64
dtypes: float64(1), object(9)
memory usage: 76.1+ KB

None

In [4]:
name=df['title'].unique()
name

array(['Data Analyst', 'Data Analyst - Logistics',
       'Data Analyst (Space & Planning)', 'Data Analyst - Hybrid Working',
       'Commercial Data Analyst', 'Asset Data Analyst',
       'Data Analyst - Hybrid', 'Data Analyst (FT)', 'Data Analyst H/F',
       'Data Analyst II', 'Data Analyst (9 Months FTC)',
       'Business Intelligence Analyst', 'Data Analyst (F/H)',
       'BI Analyst', 'Data Analyst Associate', 'Product Data Analyst',
       'Graduate Data Analyst', 'Digital Data Analyst',
       'Business Intelligence Analyst Junior', 'Data analyst H/F',
       'Data Analyst (m/f/d)', 'Analytics Consultant', 'Data Analyst F/H',
       'Consultor BI', 'Statistical Data Analyst',
       'Digital Data Analyst (H/F)',
       'Data Analyst - €60,- per hour - Amsterdam based',
       'Data & Analytics Senior Analyst',
       'JUNIOR DATA ANALYST – Aerospace', 'Data Analyst - Operations',
       'Data Analyst (H/F)', 'BUSINESS INTELLIGENCE ANALYST',
       'Business Intelligence Analyst (m/w/d)',
       'Analista superior de datos', 'Junior Data Analyst',
       'Web Data Analyst F/H', 'BUSINESS ANALYST_Power BI',
       'Junior Data Analyst Power BI - CONTRATO 6 MESES',
       'Data Analyst - Milano', 'Data Analyst (Engineer)',
       'Data Analyst H/F _ CDD', 'Data Analyst - Analyste de données',
       'Analista de datos',
       'BI Analyst, Power BI Champion, CEE based in Warsaw',
       'Data Analyst Tableau', 'Data-analist', 'SQL/Data Analyst (m/w/d)',
       'Analityk danych', 'Data analist', 'Data Analyst Reporting',
       'Junior Data Analyst Sustainability', 'Data Analyst (h/f) - CDI',
       'CDI - Data Analyst H/F - Yves Rocher', 'Senior Data Analyst',
       'Data Analyst - H/F', 'Retail Business Analyst',
       'Global Onsite Data Analyst (m/w/d)', 'BI Analyst (m/w/d)',
       'BI-Analyst (m/w/d)', 'Data Analyst - Confirmé.e',
       'Data Analyst (m/w/d)', 'Data analyst', 'Data Analyst  H/F',
       'Data Analyst-(H/F)', 'Data & Analytics Analyst - BARI, ROMA',
       'Junior Data Analyst/Associate (m/f/d)',
       'Consulente Applicativo BI', 'Business Intelligence Consultant',
       'Data Analysis and Reporting Team Lead',
       'Junior Data Analyst / Business Intelligence Expert (GN)',
       'Business Data Analyst-(H/F)',
       'BI Analyst - Tableau or other BI Tools',
       'Commercial Data Analyst Travel', 'Junior/Mid Data Analyst',
       'Data Science Analyst', 'Junior Data Analist',
       'Data Analyst - Hybrid - Permanent', 'Data Analyst - Finance',
       'Data Analyst / Decision Scientist, Marketing',
       '(Junior) Consumer Business Intelligence Analyst (m/w/d)',
       'Principal Data Analyst - Growth', 'Insight Analyst (m/f/x)',
       'Data Analyst Costing', 'Business Data Analyst (m/w/d)',
       'Information Analyst', 'Data Analist CBR',
       'POWER BI / DATA ANALYST (M/W/D)', 'Junior Master Data Analyst',
       'Data Analyst - Transportation', 'Data Analyst Power BI F/H',
       'ANALYSTE DES DONNEES (H/F)',
       'Consultant Power BI – Data Analyst (F/H)', 'Data Analist',
       'Conversion Master Data Analyst to Procter & Gamble',
       'Consultant (m/w/d) - Business Intelligence',
       'Monitoring & Data Analyst (Solar PV)',
       'Data Analyst / Data Scientist (m/f/d)',
       'Data Analyst – Web & App (m/w/d)', 'Data Governance Analyst',
       'Business Intelligence Consultant/Lead', 'Sales Data Analyst',
       'Salesforce Data Analyst (f/m/d)', 'Consultant BI Lyon - H/F',
       'Sales & Business Analyst',
       'Corporate Product Master Specialist/Data Analyst',
       'CONSULTANT BI / MSBI  F/H', 'Data Analyst (Slovakia) IRC183410',
       'BI Analyst (m/w/d) Marketing', 'Data Analyst Power BI (m/w/d)',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Data Analyst (Assortment)',
       'Wavemaker I Data Analyst with Python', 'Data Analyst Telco',
       'Junior Insight Analyst', 'Data Analyst H/F H/F',
       'Online Data Analyst', 'Data Analyst (m/w/d) im Controlling',
       'BI Consultant', 'Data Analyst (Mobile)', 'Data Analyst (m/f/x)',
       'Data Analyst - Scores & Etudes',
       'Data Analyst, Metrics & Reporting',
       'Alternance - Data Analyst - Data ETL & Visualisation (h/f/d)',
       'Customer Data Platform Analyst', 'CDI - Data Analyst F/H',
       'Analytics Consultant – McKinsey Digital',
       'Senior Data Analyst (f/m/d) - onsite or remote / home office',
       'Analytics Consultant, Power BI', 'Senior Datenanalyst (m/w/d)',
       'CRM Data Analyst (m/w/d)', 'Data Analyst Assessor',
       'Medior Data analyst', 'Data Analyst M/F',
       'Analista de datos dept de elaborados (Guissona)',
       'Data Analyst - Alternance - Boursorama-(H/F)',
       'Junior Data Scientist/Analyst (m/w/d)',
       'Operations Data Analyst (They/She/He)',
       'Senior Business Intelligence Consultant', 'Data Scientist',
       'Data Analyst Marketing Stratégique - Boursorama-(H/F)',
       'Business Intelligence Consultant (m/w/d) Power BI oder Qlik',
       'Dataanalytiker',
       'Packaging Specification Technologist and Data Analyst',
       'Junior / Medior Web Data Analyst', 'Senior BI Consultant',
       'Data Governance analyst', 'Quality Data Analyst (m|w|d)',
       'Digital Data Analist (32-38 uur)', 'Data scientist / analytiker',
       'DATA ANALYST PILOTAGE OPERATIONNEL H/F', 'Insights Analyst',
       'Junior Insights Analyst (w/m/d)', 'Data Scientist - Data Analyst',
       'BI-consulent', 'Inhouse BI Consultant / BI Spezialist (m/w/d)',
       '(ESG) Data Analyst (w/m/d)',
       'Data Analyst - Marketing & Communications Insight',
       'Informatie Analist', 'Data Analyst:in',
       '(Senior) Consultant Transaction Analytics (f/m/d)',
       'Job | Data Analyst E&E&P | Brussel',
       'Clinical Data Insights Analyst (Medior/Senior)',
       'Business Intelligence Consultant (M/W/D)', 'Data Analyst (M/W/D)',
       'Data Analyst Return Solutions', 'Reliability Data Analyst',
       'Data Analyst (Bangkok Based, Relocation Provided)',
       'Analyste de données pièces de rechange automobile',
       'Consultant AI & Data Analytics / Data Science (m/w/d)',
       'Biostatistiker (m/w/d)', 'Datový analytik/vývojář',
       'Sozialwissenschaftler*in als Data Analyst (w/m/d)',
       'Customer Insights Analyst (Bangkok Based, Relocation Provided)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
       'Analityk danych internetowych (wszystko.pl)',
       'Danish Language Data Analyst - Barcelona', 'Datový analytik',
       'Data Analist - startersfunctie (Dutch speaking)',
       'Privacy Data Analyst - Fluent German',
       'Data Analyst / Decision Scientist, Growth',
       'Senior Data Analyst (Bangkok Based, Relocation Provided)',
       'Informatieanalist Cloud-applicaties',
       'Danish Language Data Analyst in Barcelona',
       'Data Analyst (w/m/d) - Kurse',
       'Data Analyst in the area of IIoT / KI / Predictive Maintenance (m/f/d)',
       'Data Analyst (Marketing & Comms)', 'Data Analyst (m/f)',
       'Financial / Data Analyst', 'Data Analyst Export',
       'Junior project manager - Categoria Protetta',
       'Junior Business Analyst', 'Softwareentwickler (m/w/d)',
       'Data analyst débutant(e)',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenan ...',
       'Data Engineer/ Data Analyst', 'DATA ANALYST',
       'Data Analyst - Marketing - E-commerce',
       'Data Analyst (Product Data Analyst)',
       'Data Analyst - BSEU Raw Materials Planning', 'data analyst',
       'DATA ANALYST - H/F',
       'Statistical Analyst (Bangkok Based, Relocation Provided)',
       'Medewerker verkoop binnendienst', 'BÜROKRAFT (M/W/D) IN GARCHING',
       'Mitarbeiter Marketing (m/w/d)',
       'Ingenieur Softwareentwicklung (m/w/d)',
       'Projektmanager / Projektleiter Automotive (m/w/d)',
       'ESG Analyst - Real Estate (m/w/d)',
       'APM Software Development & Operations', 'Accountant',
       'Mitarbeiter Marketing B2B (m/w/d)',
       'Chargé de projets Sustainability F/H en apprentissage',
       'Test Engineer', 'Systemutvecklare', 'IT-Spezialist (m/w/d)',
       'Projektleitung Seiltechnik', 'Säljare till Skaraborgsområdet',
       'Medewerker Cursuscoördinatie', 'Chef de Projet Réhabilitation',
       'Chargé de Projets Écologue H/F (56)', 'BI Developer',
       'Commercial Analyst', 'Reporting Specialist', 'Product Manager',
       'IT Support Analyst, Global IT', 'Junior Sales Analyst',
       'Data Business Analyst (m/f)', 'Infrastructure Analyst',
       'Marketing Analyst (Data Analytics and BI)',
       'BI Analyst (Pricing)', 'Data Visualization',
       'Chemical development process  Lab analyst', 'DATA ANALYST IT',
       'Business Intelligence Developer',
       'Data Analyst, SQL/SSIS {Finance', 'Policy Analyst',
       'Composiet medewerker', 'Performance Engineer',
       'Web Analyst F/H en CDI', 'Sales Specialist',
       '(Junior) Data Scientist', 'Process Analyst', 'Business Analyst',
       'Data Scientist, Marketing Analytics', 'Data Analyst - Poland',
       'Consultant.e BI', 'Business Intelligence Developer EEMEA',
       'IT Business Analyst (Data)', '(Junior) Business Analyst (f/m/d)',
       'Business Intelligence-Architekt:in', 'System Developer GIS',
       'Analista de Software', 'Responsable Data Visualisation MS BI',
       'Consultor/a Selección Ingeniería', 'Assistant, HR Data Analytics',
       'IT Business Analyst for Human Resources',
       'Business Data Analyst Lead\xa0H/F', 'Market Intelligence Analyst',
       'Data Engineer', 'Business Analyst Junior',
       'Digital Analytics & Engagement Expert',
       'SENIOR BUSINESS REPORTING SPECIALIST', 'Business & Data Analyst',
       'Data Analyst (h/f)', 'BI Specialist',
       'Business Analyst (f/m/diverse) - Hybrid',
       'Center Operations Specialist', 'Business Analyst IT',
       'IT CRM & Marketing Solutions Specialist',
       'Junior Tech Business Analyst', 'Data Technology Analyst',
       'Chef de Projet Data F/H', 'NRS13700 Grade V, Data Analyst',
       'IT Data Analyst', 'DATA SCIENTIST - MARKETING',
       'Data Analyst - Flanders Digital',
       '(Junior) Application Specialist eCommerce (m/f/d)',
       'Data Scientist (all genders)', 'Data & Analytics Consultant',
       'Business intelligence expert', 'Junior Business Analyst (m/w/d)',
       'Data Analytics Engineer', 'Business Analyst DATA (H/F)',
       'Data Business Analyst', 'Analista Ecommerce, Web y App',
       'Demand & Inventory Data Scientist', 'Data Visualization Expert',
       'Supply Planner F/H', 'Data Program Manager',
       'INGENIERO/A analista de datos Big Data', 'Data Steward',
       'Data Engineer (m/f/n)',
       'Business Analytics and Intelligence Analyst', 'Process Engineer',
       'Data Science & Analytics Specialist (f/m/x)', 'Data Manager',
       'Data Engineer, Business Intelligence', 'Junior CRM Analyst',
       'Consultoría | Data & Analytics Hub Málaga',
       'Data platform Product Owner', 'Analyst Developer',
       'Digital Marketing Specialist',
       'Analyst - Marketing Effectiveness', 'Social Media Data Analyst',
       'Product Control Analyst', 'Data Analyst - Edtech',
       'Finance - IT Functional Analyst', 'Data Scientist - Paris',
       'Ingénieur Senior BI F/H', 'Data Management Specialist',
       'Data Specialist', 'Business Analyst - Supply Chain',
       'Data Analyst (Legal Services)', 'Business Analyst Middle',
       'BUSINESS DATA ANALYSTE Senior H/F', 'DBA SQL',
       'DATA ANALYST_FROSINONE (FR)', 'Data Consultant',
       'Consultant - Data Visualization Specialist',
       'Analyst (m/f/d) Business Intelligence & Analytics',
       'Gestor/a Aprovisionamiento - Valladolid',
       'Data and Analytics - IT Product Owner', 'Demand Planner',
       'Logistics Development Analyst', 'Data Analyst SAS - H/F',
       'Finance Data Analyst', 'Senior Digital Analyst (*all genders)',
       'Business Intelligence Engineer',
       'Business Analyst Specialist for Data Warehouse',
       'Data Analyst / Mathematiker / Statistiker (m/w/d)',
       'Market Research Analyst (Remote - within Europe)',
       'BUSINESS ANALYST', 'Senior Data Scientist', 'Analyst',
       'Junior Finance Analyst', 'SAP Finance Analyst',
       'HR Digital Transformation',
       'Data Analyst - Digital Marketing (all genders)',
       '(Junior) Project Analyst (m/f/d)', 'Supply Chain Analyst',
       'B2B Analyst, Bulgaria', 'IT Solution Analyst (m/f/n)',
       'Business Analyst (m/w/d)', 'Data Architect',
       'Business Specialist', 'Business Analyst (Junior Data Analyst)',
       'Business Intelligence Associate', 'Salesforce Analyst',
       'Data Analyst- 6 Month',
       'Informático/a programador/a analista de datos',
       'Business Analyst BI', 'Cognos and Power BI Reporting Developer',
       'Business Analyst - Pricing', 'Montblanc - Business Analyst H/Ft',
       'Online Data Analyst (m,f,d)', 'Junior STEM Analyst',
       'Científico Inteligencia Artificial', 'Software Engineer',
       'Jr. Data Scientist',
       '📢 [Full Remote] BI Engineer - Startup Data Marketing - H/F',
       'Business Insights Analyst (NJE)',
       'Senior Reporting and Data Specialist',
       'Information Technology Support Specialist',
       'Business Analyst (Sales) (m/w/d)',
       '(Junior) Business Analyst (w/m/d)',
       'Business Analytics Specialist', 'Business Analyst (F/H)',
       'Data Engineer (SQL, BI)',
       'Client Data Analyst (Client Intelligence Specialist - Fully remote) )',
       'Digital Data Analyst Pharma (m/f/d)',
       'Trading and Business Support Analyst',
       'Associate Database Analyst---Clinical Database Management',
       'Senior Product Analyst', 'AFC Data Analyst',
       'Consultant Data & BI – H/F', 'Data Entry',
       'Business Analyst (f/m)', 'Junior Analyst | H/F',
       'Client Intelligence Specialist', 'team Business Analyst',
       'Ecommerce Web Analyst', 'Applications Support Analyst (f/m/d)',
       'Information Technology Engineer', 'Data Analyst/ETL Developer',
       'Head of Analytics', 'Digital Data Analytics',
       '360 Data Product Owner', 'Online Data Analyst - France',
       'DevOps Engineer', 'Analyste Data -(H/F)',
       'Business Intelligence Specialist (w/m/d)',
       'Junior Data Analytics Consultant', 'Technical Data Analyst',
       'Junior Software Developer Engineer', 'Senior BI Data Engineer',
       'Pricing Analyst', 'Demand Planning Analyst',
       'Supply Chain Data Analyst',
       'V.I.E Performance Management  Analyst',
       'Analytics Consultant - Marketing Effectiveness',
       'Business Analyst (English Speaking)',
       'Business Analyst - Young Graduate - Academy Program',
       'Senior Data Engineer (f/m/x)', 'Data Scientist H/F_CDI',
       'Data Engineer (m/f/d)', 'Business Analyst H/F',
       '[ALT] Data analyst Assistant - H/F', 'Data Scientist (f/m/d)',
       'Banking Operations Specialist',
       'Finance Data Analyst (m/w/d) - Gigafactory Berlin',
       'Master Data Quality Analyst', 'Stage - Data Analyst H/F',
       'Data Analyst - Client Insight', 'Traineeship data analyst',
       'Data Analyst für Customer Analytics (m/w/d)',
       'Client Insights Data Analyst - SQL, Python, Data bricks',
       'Data analyst en alternance (94) DCF/AB - F/H',
       'Data Analyst, Product Intelligence #SWX',
       'Customer Data Analyst (m/w/d) Motorsport',
       'Data Analyst Delivery Operations', 'Stage | Data Analyst',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenance (m/w/d)',
       'Semiconductor Data Analyst', 'Analista funzionale',
       'Programmatore / Analista funzionale',
       'Technical Analyst for Databricks (all genders)',
       'Lead Tech et DATA VIZ (H/F)',
       'Senior Expert Innovation Analytics Performance',
       'SQL Database Administrator',
       'Analista Dati di Geodesia - CATEGORIA PROTETTA',
       'Business Analyst Pricing', 'Data Analyste',
       'BI & data reporting Expert',
       'Data Analyst - Global Marketing H/F',
       'Data Engineer-Imprescindible experiencia en PowerCenter',
       'Junior Marketing Analyst (Munich)', 'Data Scientist (Credit)',
       'Senior BI Developer (SQL Server) – (Remote)',
       'BECARIO/A DATA ANALYST CLIENTE', 'Functional Analyst',
       'Technical Business Analyst',
       'Chargé de projet validation stérilisation',
       'Junior Data Processing Specialist', 'Front-end Developer',
       'Data analyst en alternance (H/F) - Boulogne-Billancourt',
       'ALTERNANCE - Assistance Data Analyst et Reporting RH F/H',
       'Data Analyst (Fraud)*', 'ANALISTA DE PROYECTO DIGITALIZACIÓN',
       'Data Analyst - Customer Management Domain',
       'Data Analyst - Pilotage transformation Cloud-(H/F)',
       'Business Intelligence-Analyst:in', 'Analyst*in (m/w/d)',
       'Business Analyst Consultant', 'Business Process Analyst',
       'IT Strategy and Reporting Analyst (m/f)',
       'Data Analyst (m/f/d) - Global Sea Logistics Systems',
       'IT Research Analyst', 'Product Data Analyst with English',
       'Data Scientist & Analyst expérimenté',
       'Data Analyst H/F - Alternance 12 ou 24 mois',
       'Associate Data Manager', 'Data Scientist (H/F)',
       'Credit - Data Analyst (Product)', 'DATA ENGINEER REFERENT',
       'Planning & Control Analyst', 'Business Analyst - IT',
       'Associate Data Scientist', 'BI/Reports Developer',
       'Digital Analyst', 'Associate - Data Research',
       'Business Analyst & Planning', 'Junior Business Analyst - Triodos',
       'Mid Data Engineer', 'Global HRIS Specialist',
       '(Junior) Systems Business Analyst (f/m/d)',
       'Operational Analyst (Hybrid)', 'Data Engineer Industry 4.0',
       'Associate - McKinsey Digital',
       'Data Analyst - Global Marketing Agency',
       'Data Analyst and Business Development Specialist',
       'Digital Back office specialist - TEMPO DETERMINATO',
       'Junior Project Manager', '(Junior) Project Coordinator',
       'IT Analityk', 'DBA', 'Analyst (Strategy, Policy and Innovation)',
       'Junior Data Scientist', 'Developer',
       'Senior Financial Analyst (M/F)', 'Junior Developer',
       'Chef.fe de Projet Data et BI F/H', 'BUSINESS ANALYST (h/f/x) CDI',
       'Business Analyst - Manufacturing & Supply Chain',
       'Supply Officer & Data Analyst - Systems & Equipment (d/f/m)',
       'Junior Business Analyst - back office team',
       'Business Intelligence Specialist',
       'Global Manager Data Analytics',
       'Data Science and Analytics Engineer M/F', 'Research Analyst',
       'Operations Analyst - H/F',
       'Junior SQL Server Database Administrator',
       'Inventory Analytics Manager',
       'Data Analyst Professional Programme', 'DATA ENGINEER F/H',
       'Sviluppatore front-end', 'Data Reporting Engineer',
       'Référent Applicatif Business Intelligence F/H',
       'Analyst - FRENCH speaking -', 'Aftersales Reporting Specialist',
       'Data Scientist/Data Engineer, Matching', 'Data Engineer Big Data',
       'ANALISTA (H/M) FINANCIERO / FP&A REPORTING',
       'Business Data Analyst Evolutions (2300046Z)',
       'CDI - Chef de Projet Data/Analytique F/H',
       'Analyst - Application Development Analytics',
       'Analista Funzionale IT (Junior)', 'Tender Office Specialist',
       'Business Analyst Internship', 'Salesforce Business Analyst',
       'Data Analyst - Lisboa e Porto - Campo Grande',
       'Market Analyst- European Power Market', 'FP&A Analyst',
       'Solution Owner, Enterprise Solutions, IKEA Industry AB',
       'QE Manager', 'Internet Data Evaluator | Work-from-home',
       'Analityk', 'Data Engineer H/F', 'Junior Analyst - Data Process',
       'Freelance contracting project // Data Product Owner (m/f/d) - Remote',
       'Developer (m/f/n)', 'Data Scientist Transport & Logistics',

Просмотр вакансий показал, что есть вакансии уровня Team, Lead итп., а также не связанные с data analyst(Marketing B2B, Accountant и т.п.)

Сначала:

уберем вакансии не связанные с Data analyst(datos analyste, analityk)

А потом:

Уберем вакансии высокого уровня.

In [5]:
lst=['dat','BI']
df_new=df[df['title'].str.contains('|'.join(lst), flags=re.I, na=False)]
df_new

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,What You Will Achi...,47.0
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,NaN
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,Data Analyst - Lo...,NaN
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,Salary: To b...,NaN
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,FORFIRM is p...,NaN
...,...,...,...,...,...,...,...,...,...,...
988,Data Analyst Job In Overseas,Naples,Italy,On-site,WALKWAY IMMIGRATION SERVICES LLP,See how you compare to 4 applicants. Try Premi...,See how you compare to 4 applicants. Try Premi...,None,This job is...,4.0
992,Emerton Data: Data Scientist & Strategy Consul...,Paris,France,Hybrid,Emerton,51-200 employees,Business Consulting and Services,"<span class=""visually-hidden""><!-- -->Skills: ...",Visit: emerton-d...,188.0
993,Ingeniero de datos Power BI + Azure Datafactory,Spain,Spain,Remote,Apiux Tecnología,201-500 employees,Information Technology & Services,"<span class=""visually-hidden""><!-- -->Skills: ...",¡Apiux está lider...,55.0
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,"<span class=""visually-hidden""><!-- -->Skills: ...",This job is...,NaN
997,Analista de datos BI,Valencia,Spain,Hybrid,Infoport,51-200 employees,51-200 employees,None,Funciones · Bu...,198.0

In [6]:
name_drop=['Team', 'BUSINESS', 'CEO', 'Manager', 'Middle', 'Senior', 'Head', 'Lead', 'Chef', 'Mid', 'Sales', 'Expert', 'Engineer', 'Owner']
d1=[]
for i in name_drop:
    dd=df_new.loc[df_new['title'].str.contains(i, flags=re.I)]
    dd_name=dd['title']
    d1.extend(dd_name)

In [7]:
df_clean = df_new[df_new.title.isin(d1) == False ]
name_clean=df_clean['title'].unique()
name_clean

array(['Data Analyst', 'Data Analyst - Logistics',
       'Data Analyst (Space & Planning)', 'Data Analyst - Hybrid Working',
       'Commercial Data Analyst', 'Asset Data Analyst',
       'Data Analyst - Hybrid', 'Data Analyst (FT)', 'Data Analyst H/F',
       'Data Analyst II', 'Data Analyst (9 Months FTC)',
       'Data Analyst (F/H)', 'BI Analyst', 'Data Analyst Associate',
       'Product Data Analyst', 'Graduate Data Analyst',
       'Digital Data Analyst', 'Data analyst H/F', 'Data Analyst (m/f/d)',
       'Data Analyst F/H', 'Consultor BI', 'Statistical Data Analyst',
       'Digital Data Analyst (H/F)',
       'Data Analyst - €60,- per hour - Amsterdam based',
       'JUNIOR DATA ANALYST – Aerospace', 'Data Analyst - Operations',
       'Data Analyst (H/F)', 'Analista superior de datos',
       'Junior Data Analyst', 'Web Data Analyst F/H',
       'Junior Data Analyst Power BI - CONTRATO 6 MESES',
       'Data Analyst - Milano', 'Data Analyst H/F _ CDD',
       'Data Analyst - Analyste de données', 'Analista de datos',
       'BI Analyst, Power BI Champion, CEE based in Warsaw',
       'Data Analyst Tableau', 'Data-analist', 'SQL/Data Analyst (m/w/d)',
       'Data analist', 'Data Analyst Reporting',
       'Junior Data Analyst Sustainability', 'Data Analyst (h/f) - CDI',
       'CDI - Data Analyst H/F - Yves Rocher', 'Data Analyst - H/F',
       'Global Onsite Data Analyst (m/w/d)', 'BI Analyst (m/w/d)',
       'BI-Analyst (m/w/d)', 'Data Analyst - Confirmé.e',
       'Data Analyst (m/w/d)', 'Data analyst', 'Data Analyst  H/F',
       'Data Analyst-(H/F)', 'Data & Analytics Analyst - BARI, ROMA',
       'Junior Data Analyst/Associate (m/f/d)',
       'Consulente Applicativo BI',
       'BI Analyst - Tableau or other BI Tools',
       'Commercial Data Analyst Travel', 'Data Science Analyst',
       'Junior Data Analist', 'Data Analyst - Hybrid - Permanent',
       'Data Analyst - Finance',
       'Data Analyst / Decision Scientist, Marketing',
       'Principal Data Analyst - Growth', 'Data Analyst Costing',
       'Data Analist CBR', 'POWER BI / DATA ANALYST (M/W/D)',
       'Junior Master Data Analyst', 'Data Analyst - Transportation',
       'Data Analyst Power BI F/H',
       'Consultant Power BI – Data Analyst (F/H)', 'Data Analist',
       'Conversion Master Data Analyst to Procter & Gamble',
       'Monitoring & Data Analyst (Solar PV)',
       'Data Analyst / Data Scientist (m/f/d)',
       'Data Analyst – Web & App (m/w/d)', 'Data Governance Analyst',
       'Consultant BI Lyon - H/F',
       'Corporate Product Master Specialist/Data Analyst',
       'CONSULTANT BI / MSBI  F/H', 'Data Analyst (Slovakia) IRC183410',
       'BI Analyst (m/w/d) Marketing', 'Data Analyst Power BI (m/w/d)',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Data Analyst (Assortment)',
       'Wavemaker I Data Analyst with Python', 'Data Analyst Telco',
       'Data Analyst H/F H/F', 'Online Data Analyst',
       'Data Analyst (m/w/d) im Controlling', 'BI Consultant',
       'Data Analyst (Mobile)', 'Data Analyst (m/f/x)',
       'Data Analyst - Scores & Etudes',
       'Data Analyst, Metrics & Reporting',
       'Alternance - Data Analyst - Data ETL & Visualisation (h/f/d)',
       'Customer Data Platform Analyst', 'CDI - Data Analyst F/H',
       'Analytics Consultant, Power BI', 'CRM Data Analyst (m/w/d)',
       'Data Analyst Assessor', 'Medior Data analyst', 'Data Analyst M/F',
       'Analista de datos dept de elaborados (Guissona)',
       'Data Analyst - Alternance - Boursorama-(H/F)',
       'Junior Data Scientist/Analyst (m/w/d)',
       'Operations Data Analyst (They/She/He)', 'Data Scientist',
       'Data Analyst Marketing Stratégique - Boursorama-(H/F)',
       'Dataanalytiker',
       'Packaging Specification Technologist and Data Analyst',
       'Junior / Medior Web Data Analyst', 'Data Governance analyst',
       'Quality Data Analyst (m|w|d)', 'Digital Data Analist (32-38 uur)',
       'Data scientist / analytiker',
       'DATA ANALYST PILOTAGE OPERATIONNEL H/F',
       'Data Scientist - Data Analyst', 'BI-consulent',
       'Inhouse BI Consultant / BI Spezialist (m/w/d)',
       '(ESG) Data Analyst (w/m/d)',
       'Data Analyst - Marketing & Communications Insight',
       'Data Analyst:in', 'Job | Data Analyst E&E&P | Brussel',
       'Data Analyst (M/W/D)', 'Data Analyst Return Solutions',
       'Reliability Data Analyst',
       'Data Analyst (Bangkok Based, Relocation Provided)',
       'Analyste de données pièces de rechange automobile',
       'Consultant AI & Data Analytics / Data Science (m/w/d)',
       'Biostatistiker (m/w/d)', 'Datový analytik/vývojář',
       'Sozialwissenschaftler*in als Data Analyst (w/m/d)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
       'Danish Language Data Analyst - Barcelona', 'Datový analytik',
       'Data Analist - startersfunctie (Dutch speaking)',
       'Privacy Data Analyst - Fluent German',
       'Data Analyst / Decision Scientist, Growth',
       'Danish Language Data Analyst in Barcelona',
       'Data Analyst (w/m/d) - Kurse',
       'Data Analyst in the area of IIoT / KI / Predictive Maintenance (m/f/d)',
       'Data Analyst (Marketing & Comms)', 'Data Analyst (m/f)',
       'Financial / Data Analyst', 'Data Analyst Export',
       'Data analyst débutant(e)',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenan ...',
       'DATA ANALYST', 'Data Analyst - Marketing - E-commerce',
       'Data Analyst (Product Data Analyst)',
       'Data Analyst - BSEU Raw Materials Planning', 'data analyst',
       'DATA ANALYST - H/F', 'Medewerker verkoop binnendienst',
       'Chargé de projets Sustainability F/H en apprentissage',
       'BI Developer', 'Marketing Analyst (Data Analytics and BI)',
       'BI Analyst (Pricing)', 'Data Visualization', 'DATA ANALYST IT',
       'Data Analyst, SQL/SSIS {Finance', '(Junior) Data Scientist',
       'Data Scientist, Marketing Analytics', 'Data Analyst - Poland',
       'Consultant.e BI', 'Responsable Data Visualisation MS BI',
       'Assistant, HR Data Analytics', 'Data Analyst (h/f)',
       'BI Specialist', 'Data Technology Analyst',
       'NRS13700 Grade V, Data Analyst', 'IT Data Analyst',
       'DATA SCIENTIST - MARKETING', 'Data Analyst - Flanders Digital',
       'Data Scientist (all genders)', 'Data & Analytics Consultant',
       'Demand & Inventory Data Scientist',
       'INGENIERO/A analista de datos Big Data', 'Data Steward',
       'Data Science & Analytics Specialist (f/m/x)',
       'Consultoría | Data & Analytics Hub Málaga',
       'Social Media Data Analyst', 'Data Analyst - Edtech',
       'Data Scientist - Paris', 'Data Management Specialist',
       'Data Specialist', 'Data Analyst (Legal Services)',
       'DATA ANALYST_FROSINONE (FR)', 'Data Consultant',
       'Consultant - Data Visualization Specialist',
       'Data Analyst SAS - H/F', 'Finance Data Analyst',
       'Data Analyst / Mathematiker / Statistiker (m/w/d)',
       'Data Analyst - Digital Marketing (all genders)', 'Data Architect',
       'Data Analyst- 6 Month',
       'Informático/a programador/a analista de datos',
       'Cognos and Power BI Reporting Developer',
       'Online Data Analyst (m,f,d)', 'Jr. Data Scientist',
       'Client Data Analyst (Client Intelligence Specialist - Fully remote) )',
       'Digital Data Analyst Pharma (m/f/d)',
       'Associate Database Analyst---Clinical Database Management',
       'AFC Data Analyst', 'Consultant Data & BI – H/F', 'Data Entry',
       'Data Analyst/ETL Developer', 'Digital Data Analytics',
       'Online Data Analyst - France', 'Analyste Data -(H/F)',
       'Junior Data Analytics Consultant', 'Technical Data Analyst',
       'Supply Chain Data Analyst', 'Data Scientist H/F_CDI',
       '[ALT] Data analyst Assistant - H/F', 'Data Scientist (f/m/d)',
       'Finance Data Analyst (m/w/d) - Gigafactory Berlin',
       'Master Data Quality Analyst', 'Stage - Data Analyst H/F',
       'Data Analyst - Client Insight', 'Traineeship data analyst',
       'Data Analyst für Customer Analytics (m/w/d)',
       'Client Insights Data Analyst - SQL, Python, Data bricks',
       'Data analyst en alternance (94) DCF/AB - F/H',
       'Data Analyst, Product Intelligence #SWX',
       'Customer Data Analyst (m/w/d) Motorsport',
       'Data Analyst Delivery Operations', 'Stage | Data Analyst',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenance (m/w/d)',
       'Semiconductor Data Analyst',
       'Technical Analyst for Databricks (all genders)',
       'SQL Database Administrator',
       'Analista Dati di Geodesia - CATEGORIA PROTETTA', 'Data Analyste',
       'Data Analyst - Global Marketing H/F', 'Data Scientist (Credit)',
       'BECARIO/A DATA ANALYST CLIENTE',
       'Chargé de projet validation stérilisation',
       'Junior Data Processing Specialist',
       'Data analyst en alternance (H/F) - Boulogne-Billancourt',
       'ALTERNANCE - Assistance Data Analyst et Reporting RH F/H',
       'Data Analyst (Fraud)*',
       'Data Analyst - Customer Management Domain',
       'Data Analyst - Pilotage transformation Cloud-(H/F)',
       'Data Analyst (m/f/d) - Global Sea Logistics Systems',
       'Product Data Analyst with English',
       'Data Scientist & Analyst expérimenté',
       'Data Analyst H/F - Alternance 12 ou 24 mois',
       'Data Scientist (H/F)', 'Credit - Data Analyst (Product)',
       'Associate Data Scientist', 'BI/Reports Developer',
       'Associate - Data Research',
       'Data Analyst - Global Marketing Agency', 'Junior Data Scientist',
       'Supply Officer & Data Analyst - Systems & Equipment (d/f/m)',
       'Junior SQL Server Database Administrator',
       'Data Analyst Professional Programme',
       'Data Analyst - Lisboa e Porto - Campo Grande',
       'Internet Data Evaluator | Work-from-home',
       'Junior Analyst - Data Process',
       'Data Scientist Transport & Logistics', 'DATA SCIENTIST',
       'Database Administrator',
       'Data Analyst / Risques de Crédit - Boursorama-(H/F)',
       'Freelance Data Modeler',
       'Customer Data Integration Specialist - Bulgaria',
       'Data Analyst Job In Overseas',
       'Emerton Data: Data Scientist & Strategy Consultant',
       'Ingeniero de datos Power BI + Azure Datafactory',
       'Analista de datos BI'], dtype=object)

Остались вакансии с прямым указанием на Дата аналитику и без указаний на уровень вакансии выше Junior.

In [8]:
name_skills=df_clean['skills'].unique()
name_skills

array(['None',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Визуализация данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Панель управления, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Компьютерная наука, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SSRS, Услуги анализа, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Анализ бизнес-данных, +3 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Статистическое моделирование, Моделирование данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Визуализация данных, Tableau, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google Analytics, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google Data Studio, Looker (Software), +6 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Business Analysis, Microsoft Excel, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Командная работа, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Tableau, Немецкий язык, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Английский язык, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Ad Hoc Analysis, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Office, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, Управление проектами, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Visualization, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Французский язык, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, Scala, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Экономика, Математика, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Microsoft Excel, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Консультирование, Анализ бизнес-данных, +3 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Межличностное общение, Коммуникабельность, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Операционная деятельность, Data Feeds, +1 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Digital Technology, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Решение задач, Коммуникабельность, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Модели данных, Рассмотрение заявок, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Визуализация данных, Data Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Python, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Статистика, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Моторы, Инженерное дело, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Коммуникация, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Межличностное общение, High Level Of Accuracy, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Управление предприятием, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, SQL, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: NumPy, Наука о данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Компьютерная наука, Проектирование пользовательского интерфейса (UED), +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Аналитика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Веб-технологии, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google Analytics, JavaScript, +3 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Анализ данных, +2 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Ключевые показатели деятельности, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Microsoft Excel, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Межличностное общение, Коммуникация, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: VBA, Data Governance, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, JavaScript, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Наука о данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Payroll Administration, Управление проектами, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, Bash, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Excel, Microsoft Power BI, +6 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Коммуникация, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Java, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Quantitative Data, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Enterprise Service Bus (ESB) Architecture, ETL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Statutory Accounting Principles (SAP), +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Недвижимость, Управление операциями, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление проектами, Организаторские навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Metrics Definition, Data Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Коммуникация, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Спецификация требований, A/B тестирование, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Qlik Sense, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Облачные вычисления, Google Cloud Platform (GCP), +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Microsoft Power Query, +2 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Математика, Microsoft Power BI, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Бизнес-объекты, Визуализация данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Помощь по административным вопросам<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Excel, Немецкий язык, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, ITIL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Interpreting Data, +4 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Наука о данных, RapidMiner, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: VBA, Качество данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Принятие решений, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Сбор данных, Базы данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: DAX, Alteryx, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Oracle Data Integrator (ODI), Языки программирования, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Ключевые показатели деятельности, Data Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитика, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Статистика по компании, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, MySQL, +4 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Аналитические навыки, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: JavaScript, Tableau, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление проектами, Google Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Математика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google Analytics, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление вознаграждением работников, Наборы данных, +1 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Визуализация данных, Google Data Studio, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google BigQuery, Snowflake, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Коммуникация, Tableau, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Панель управления, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Python, Финансовая математика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Основные показатели, Scala, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Java, Google Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: PowerPoint, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SSIS, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Data-driven Decision Making, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Целевая цена, Презентации, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Экологическая сбалансированность, Международная логистика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Microsoft Excel, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Командная работа, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Основные данные, План счетов, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Google BigQuery, Презентации, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Бизнес-требования, Snowflake, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Качество данных, Витрины данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, JavaScript, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Dynamics NAV, Французский язык, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Microsoft Excel, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Business Case Preparation, Панель управления, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, Компьютерная наука, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, SQL, +2 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Качество данных, Моделирование данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление проектами, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Соглашения об уровне услуг, Панель управления, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Панель управления, Коммуникация, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Qlik Sense, Панель управления, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: New Product Rollout, Обмен электронными данными, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Обучение, +3 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Бизнес-требования, Business Analysis, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Amazon Elastic MapReduce (EMR), Amazon Kinesis, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: QlikView, Средства бизнес-аналитики, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, Английский язык, +6 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power Query, Визуализация данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Математика, Agile Software Development, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, PowerPoint, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: VBA, Application Services, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: VBA, ETL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SSRS, Alteryx, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Google Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Cross-team Collaboration, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: High Level Of Accuracy, Статистика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Социальные навыки, Visualization, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Большие массивы данных, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Business Analysis, Управление проектами, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Наука о данных, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SAS, Python, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление материалами, Визуализация данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Организаторские навыки, High Level Of Accuracy, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Управление данными, Моделирование данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Power BI, SQL, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Анализ данных, Microsoft Office, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Отчетность, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Наука о данных, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Истории пользователей, Базы данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Отчетность, Презентации, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Аналитические навыки, Отчетность, +5 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SQL, Анализ данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Документация, Ключевые показатели деятельности, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Наука о данных, Data Analytics, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Ключевые показатели деятельности, Google Sheets, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Английский язык, SQL, +7 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Query Languages, Основные показатели, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: SAS, Tableau, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Визуализация данных, Аналитика, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Governance, Коммуникация, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Pipelines, Snowflake Cloud, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Сводные таблицы, GMP (надлежащая производственная практика), +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Панель управления, Human Behavior, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Машинное обучение, Прогнозное моделирование, +6 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: VBA, QlikView, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Manipulation, Прогнозное моделирование, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Панель управления, SQL, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Microsoft Excel, Панель управления, +6 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: ITIL, Coordinating Skills, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Немецкий язык, Аналитические навыки, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Визуализация данных, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Governance, Qlik Sense, +8 more<!-- --></span>',
       '<span class="visually-hidden"><!-- -->Skills: Data Analytics, Yellowfin BI, +8 more<!-- --></span>',

In [9]:
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture'
            'gitlab', 'erwin', 'hadoop', 'spark', 'hive'
           'databricks', 'aws', 'gcp', 'azure','excel',
            'redshift', 'bigquery', 'snowflake',  'hana'
            'grafana', 'kantar', 'spss', 'a/b testing', 'ab testing',
           'asana', 'basecamp', 'jira', 'dbeaver','trello', 'miro', 'salesforce', 
           'rapidminer', 'thoughtspot',  'power point',  'docker', 'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',
             'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis',
             'hevo data','informatica','oracle data integrator','k2view','cdata sync','querysurge', 
             'rivery', 'dbconvert', 'alooma', 'stitch', 'fivetran', 'matillion','streamsets','blendo',
             'iri voracity','logstash', 'etleap', 'singer', 'apache camel','actian', 'airflow', 'luidgi', 'datastage',
           'python', 'vba', 'scala', ' r ', 'java script', 'julia', 'SQL', 'matlab', 'java', 'html', 'c++', 'sas',
           'data studio', 'tableau', 'looker', 'powerbi', 'cognos', 'microstrategy', 'spotfire',
             'sap business objects','microsoft sql server', 'oracle business intelligence', 'yellowfin',
             'webfocus','sas visual analytics', 'targit', 'izenda',  'sisense', 'statsbot', 'panorama', 'inetsoft',
             'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx', 'dataiku', 'qlik sense', 'qlikview', 'ga4'
          ])

In [10]:
df_clean['skills_sp_1'] = df['skills'].str.findall(r'(?s)(?<=,).*?(?=,)')
df_clean['skills_sp'] = df['skills'].str.findall(r'(?s)(?<=: ).*?(?=,)')

df_clean

C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\1033346043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['skills_sp_1'] = df['skills'].str.findall(r'(?s)(?<=,).*?(?=,)')
C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\1033346043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['skills_sp'] = df['skills'].str.findall(r'(?s)(?<=: ).*?(?=,)')

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants,skills_sp_1,skills_sp
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,What You Will Achi...,47.0,[],[]
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,NaN,[],[]
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,Data Analyst - Lo...,NaN,[],[]
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,Salary: To b...,NaN,[],[]
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,FORFIRM is p...,NaN,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...
988,Data Analyst Job In Overseas,Naples,Italy,On-site,WALKWAY IMMIGRATION SERVICES LLP,See how you compare to 4 applicants. Try Premi...,See how you compare to 4 applicants. Try Premi...,None,This job is...,4.0,[],[]
992,Emerton Data: Data Scientist & Strategy Consul...,Paris,France,Hybrid,Emerton,51-200 employees,Business Consulting and Services,"<span class=""visually-hidden""><!-- -->Skills: ...",Visit: emerton-d...,188.0,[ Решение задач],[Python]
993,Ingeniero de datos Power BI + Azure Datafactory,Spain,Spain,Remote,Apiux Tecnología,201-500 employees,Information Technology & Services,"<span class=""visually-hidden""><!-- -->Skills: ...",¡Apiux está lider...,55.0,[ Microsoft Azure],[Английский язык]
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,"<span class=""visually-hidden""><!-- -->Skills: ...",This job is...,NaN,[ Визуализация данных],[Data Analytics]
997,Analista de datos BI,Valencia,Spain,Hybrid,Infoport,51-200 employees,51-200 employees,None,Funciones · Bu...,198.0,[],[]

In [11]:
df_clean['full_skills']=df_clean['skills_sp']+df_clean['skills_sp_1']




# df_clean['full_skills'] = df_clean[['skills_sp', 'skills_sp_1']].apply(lambda x: ', '.join(x.replace('', np.NaN).dropna(how='all')), axis = 1)
df_clean.drop(['skills_sp_1', 'skills_sp'], axis= 1 , inplace= True )

df_clean

C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\3879620505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['full_skills']=df_clean['skills_sp']+df_clean['skills_sp_1']
C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\3879620505.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(['skills_sp_1', 'skills_sp'], axis= 1 , inplace= True )

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants,full_skills
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,What You Will Achi...,47.0,[]
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,NaN,[]
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,Data Analyst - Lo...,NaN,[]
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,Salary: To b...,NaN,[]
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,FORFIRM is p...,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...
988,Data Analyst Job In Overseas,Naples,Italy,On-site,WALKWAY IMMIGRATION SERVICES LLP,See how you compare to 4 applicants. Try Premi...,See how you compare to 4 applicants. Try Premi...,None,This job is...,4.0,[]
992,Emerton Data: Data Scientist & Strategy Consul...,Paris,France,Hybrid,Emerton,51-200 employees,Business Consulting and Services,"<span class=""visually-hidden""><!-- -->Skills: ...",Visit: emerton-d...,188.0,"[Python, Решение задач]"
993,Ingeniero de datos Power BI + Azure Datafactory,Spain,Spain,Remote,Apiux Tecnología,201-500 employees,Information Technology & Services,"<span class=""visually-hidden""><!-- -->Skills: ...",¡Apiux está lider...,55.0,"[Английский язык, Microsoft Azure]"
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,"<span class=""visually-hidden""><!-- -->Skills: ...",This job is...,NaN,"[Data Analytics, Визуализация данных]"
997,Analista de datos BI,Valencia,Spain,Hybrid,Infoport,51-200 employees,51-200 employees,None,Funciones · Bu...,198.0,[]

In [12]:
def find_skills(cell):
    list_skills = []
    for skill in skills:
        if skill in cell.lower().replace('powerbi', 'power bi'):
            list_skills.append(skill)
    return list_skills
df_clean['skill_s'] = df_clean.job_description.apply(find_skills)

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 524 entries, 0 to 997
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            524 non-null    object
 1   location         524 non-null    object
 2   country          524 non-null    object
 3   employment_type  524 non-null    object
 4   company_name     523 non-null    object
 5   employee_qty     524 non-null    object
 6   company_field    524 non-null    object
 7   skills           524 non-null    object
 8   job_description  524 non-null    object
 9   applicants       411 non-null    float64
 10  full_skills      524 non-null    object
 11  skill_s          524 non-null    object
dtypes: float64(1), object(11)
memory usage: 53.2+ KB

C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\1337845926.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['skill_s'] = df_clean.job_description.apply(find_skills)

In [13]:
df_clean['full_skills']=df_clean['full_skills'] + df_clean['skill_s']

#df_clean['full_skills'] = df_clean[['skill_s']].apply(lambda x: ', '.join(x), axis = 1)
df_clean.drop(['skills','skill_s'], axis=1, inplace= True)
df_clean['full_skills']=df_clean['full_skills'].tolist()

df_clean.sample(10)

C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\4029454705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['full_skills']=df_clean['full_skills'] + df_clean['skill_s']
C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\4029454705.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(['skills','skill_s'], axis=1, inplace= True)
C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\4029454705.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['full_skills']=df_clean['full_skills'].tolist()

,title,location,country,employment_type,company_name,employee_qty,company_field,job_description,applicants,full_skills
787,Data analyst en alternance (94) DCF/AB - F/H,Vitry-sur-Seine,France,On-site,Groupe Casino,"10,001+ employees",Retail Groceries,Vous avez toujours...,NaN,"[Интеллектуальный анализ данных, DCF Valuatio..."
600,BI Specialist,Danderyd,Sweden,not specified,Tobii Dynavox,201-500 employees,Medical Equipment Manufacturing,"At Tobii Dynavox, ...",149.0,"[Администрирование баз данных, Базы данных, e..."
403,Online Data Analyst,Iráklion,Greece,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,We are hiring fre...,39.0,"[Английский язык, Социальные медиа]"
833,Junior Data Processing Specialist,Sofia,Bulgaria,Hybrid,NielsenIQ,"10,001+ employees",Information Services,Job Description ...,167.0,"[Обработка данных, Базы данных, excel]"
710,Data Scientist,Amsterdam,Netherlands,Hybrid,Dott,"501-1,000 employees","Technology, Information and Internet","Here at Dott, we b...",144.0,"[Наука о данных, Google BigQuery, spark, exce..."
124,Data Analyst - H/F,Lyon,France,Hybrid,Lincoln France,201-500 employees,Information Technology & Services,Ce que l'on vou...,NaN,"[Microsoft Power BI, Microsoft Power Query, e..."
160,Data Analyst,Marlow,United Kingdom,On-site,Magnificent Revolution,1-10 employees,Performing Arts,This job is...,7.0,"[excel, ssis]"
111,Data Analyst (H/F),Chappes,France,not specified,LIMAGRAIN,"5,001-10,000 employees",Farming,Limagrain est une...,64.0,"[Enterprise Service Bus (ESB) Architecture, E..."
41,Data Analyst (m/f/d),Munich,Germany,On-site,LOOPING GROUP,201-500 employees,Advertising Services,This job is...,56.0,"[Tableau, Немецкий язык, adobe analytics, pyt..."
911,Junior Data Scientist,Greater Milan Metropolitan Area,Greater Milan Metropolitan Area,Hybrid,Experis Italia,201-500 employees,IT Services and IT Consulting,"Experis, brand di...",162.0,"[Обработка естественного языка, Наука о данны..."

In [14]:
df_clean['country']=df_clean['country'].str.lstrip()
df_clean['country'].unique()

C:\Users\wzick\AppData\Local\Temp\ipykernel_17616\1457456742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['country']=df_clean['country'].str.lstrip()

array(['Switzerland', 'United Kingdom', 'France', 'Netherlands',
       'Ireland', 'Hungary', 'Greece', 'Sweden', 'Lithuania', 'Belgium',
       'Luxembourg', 'Germany', 'Italy', 'Brussels Metropolitan Area',
       'Portugal', 'Greater Paris Metropolitan Region', 'Spain', 'Poland',
       'Czechia', 'Warsaw Metropolitan Area', 'Wroclaw Metropolitan Area',
       'Latvia', 'Estonia', 'Malta', 'Austria', 'Cologne Bonn Region',
       'Greater Munster Area', 'Greater Banska Bystrica Area',
       'Greater Nuremberg Metropolitan Area', 'Berlin Metropolitan Area',
       'Finland', 'Romania', 'Greater Barcelona Metropolitan Area',
       'Norway', 'Rotterdam and The Hague', 'Prague Metropolitan Area',
       'Denmark', 'Bulgaria', 'Greater Pau Area', 'Monaco',
       'Lisbon Metropolitan Area', 'Athens Metropolitan Area',
       'Greater Lyon Area', 'Croatia', 'Stuttgart Region',
       'Greater Milan Metropolitan Area', 'Eindhoven Area', 'Slovakia',
       'Krakow Metropolitan Area'], dtype=object)

Есть не соответствующие названию стран: Brussels Metropolitan Area - это, явно, Бельгия и.т. Заменим на правильные. А также удалим пробелы перед началом.

In [15]:
new_country = {'Brussels Metropolitan Area': 'Belgium',
               'Greater Paris Metropolitan Region': 'France',
               'Wroclaw Metropolitan Area': 'Poland',
               'Cologne Bonn Region': 'Germany',
               'Greater Munster Area': 'Irlandia',
               'Greater Banska Bystrica Area': 'Slovakia',
               'Greater Nuremberg Metropolitan Area': 'Germany',
               'Berlin Metropolitan Area': 'Germany',
               'Greater Barcelona Metropolitan Area': 'Spain',
               'Rotterdam and The Hague': 'Netherlands',
               'Greater Pau Area': 'France',
               'Lisbon Metropolitan Area': 'Portugal',
               'Athens Metropolitan Area': 'Greece',
               'Stuttgart Region': 'Germany',
               'Greater Milan Metropolitan Area': 'Italy',
               'Eindhoven Area': 'Netherlands',
               'Krakow Metropolitan Area': 'Poland'
              }
df_clean=df_clean.replace(new_country)
df_clean['country'].unique()

array(['Switzerland', 'United Kingdom', 'France', 'Netherlands',
       'Ireland', 'Hungary', 'Greece', 'Sweden', 'Lithuania', 'Belgium',
       'Luxembourg', 'Germany', 'Italy', 'Portugal', 'Spain', 'Poland',
       'Czechia', 'Warsaw Metropolitan Area', 'Latvia', 'Estonia',
       'Malta', 'Austria', 'Irlandia', 'Slovakia', 'Finland', 'Romania',
       'Norway', 'Prague Metropolitan Area', 'Denmark', 'Bulgaria',
       'Monaco', 'Greater Lyon Area', 'Croatia'], dtype=object)

In [16]:
df_clean['employment_type'].unique()

array(['On-site', 'Hybrid', 'not specified', 'Remote'], dtype=object)

In [17]:
df_clean['location']=df_clean['location'].str.lstrip()
# Уберем пропуски городов
df_clean['location'].fillna('unknown', inplace=True)
df_clean['location'].unique()

array(['Basel', 'Coventry', 'South Molton', 'Lugano', 'Southampton',
       'Leeds', 'Nuneaton', 'Paris', 'Cambridge', 'West Midlands',
       'Schiphol', 'Chester', 'Craven Arms', 'Dublin', 'Belfast',
       'Sunderland', 'Montévrain', 'Bristol', 'Solihull', 'Blackpool',
       'Dijon', 'Alsónémedi', 'Manchester', 'Elliniko-Argyroupoli',
       'Umeå', 'North Holland', 'Vilnius', 'Durham', 'Oudenaarde',
       'Stockholm County', 'Luxembourg', 'Roubaix', 'Munich', 'Milan',
       'Zaventem', 'Belgium', 'Portugal', 'West Malling', 'France',
       'Lille', 'Egham', 'Karlstad', 'Madrid', 'Barcelona', 'Oxford',
       'Hungary', 'Brussels', 'Taibon', 'Epsom', 'Amsterdam', 'Spinea',
       'Brindisi', 'Boulogne-Billancourt', 'Nantes', 'Derby', 'Lund',
       'Garwolin', 'Stockholm', 'Massy', 'Prague', 'Cracow',
       'Middlesbrough', 'Viladecans', 'Warsaw Metropolitan Area',
       'Eindhoven', 'Warsaw', 'Budapest', 'London', 'Poland',
       'Amersfoort', 'Hamburg', 'The Hague', 'Chappes', 'Sintra', 'Riga',
       'Coimbra', 'Tartu', 'Île-de-France', 'Issy-les-Moulineaux',
       'Hawthorn', 'Lyon', 'Valletta', 'Stuttgart', 'Galway', 'Berlin',
       'Olèrdola', 'Neuilly-sur-Seine', 'Wasserburg (Bodensee)', 'Gdynia',
       'Bordeaux', 'Rouen', 'Mechelen', 'Milton Keynes', 'Bari', 'Vienna',
       'Newcastle upon Tyne', 'Cerdanyola del Vallès', 'Naples',
       'Nova Milanese', 'Baierbrunn', 'Lindau', 'Bergen op Zoom',
       'Gdańsk', 'Marlow', 'Brussels Region', 'Lisbon', 'Porto',
       'The Randstad', 'Ghent', 'Cologne', 'Rijswijk', 'Tessenderlo',
       'St.-Ouen', 'Buckinghamshire', 'Bologna', 'Hasselt', 'Bath',
       'Dresden', 'Germany', 'Wiesbaden', 'Irlandia', 'Utrecht',
       'Mülheim an der Ruhr', 'Zwaagdijk-Oost', 'Heerlen', 'Harlestone',
       'Nanterre', 'Hook of Holland', 'Slovakia', 'Szczecin', 'Villes',
       'Doncaster', 'County Dublin', 'Villeneuve-d’Ascq', 'Toulouse',
       'Meudon', 'Rome', 'Padua', 'Rotterdam', 'Levallois-Perret',
       'Espoo', 'Limburg', 'Schwäbisch Gmünd', 'Neckarsulm', 'Düsseldorf',
       'Gillingham', 'Bucharest', 'Emmen', 'Guissona', 'Hoofddorp',
       'Weinheim', 'Spain', 'West Flanders', 'Lisboa', 'Oslo', 'Worksop',
       'Vilvoorde', 'Bergisch Gladbach', 'Drammen', 'Athens', 'Zeist',
       'Frankfurt', 'Mannheim', 'Netherlands', 'Łódź', 'St.-Denis',
       'Grenzach-Wyhlen', 'Prague Metropolitan Area', 'Iráklion',
       "Vaprio d'Adda", 'Gloucestershire', 'Denmark', 'Frankfurt am Main',
       'Ahlen', 'Sofia', 'Cesate', 'Binasco', 'Bellinzago Lombardo',
       'Cernusco sul Naviglio', 'Manchester Area', 'Colturano',
       'Truccazzano', 'Inzago', 'Pistoia', 'Canegrate',
       'San Zenone al Lambro', "Cassina de' Pecchi", 'Monaco', 'Höchberg',
       'Palermo', 'Treviso', 'Thessaloniki', 'Courbevoie', 'Doesburg',
       'Arluno', 'Hereford', 'Erstein', 'Pioltello', 'Vittuone',
       'Rethymno', 'Vila Nova de Cerveira', 'Hertfordshire', 'Greece',
       'Elsbethen', 'Fuschl am See', 'Solna', 'Wrocław',
       'Greater Lyon Area', 'Senago', 'Bois-Colombes', 'Cusano Milanino',
       'Dresano', 'Italy', 'Douai', "'s-Hertogenbosch", 'Zoetermeer',
       'Zagreb', 'Flemish Region', 'Zwevezele', 'Calvignasco', 'Ronda',
       'Gessate', 'Arrasate / Mondragón', 'Rozzano', 'Vanzago',
       'Danderyd', 'Sesto San Giovanni', 'Cornaredo', 'Torremolinos',
       'Lucerne', 'Frosinone', 'Amstelveen', 'San Donato Milanese',
       'Suresnes', 'Laudio / Llodio', 'Lacchiarella', 'Finland', 'Sparta',
       'Corsico', 'Chaucer', 'Heidelberg', 'Cusago', 'Bremen',
       'Edinburgh', 'Romania', 'Bertrange', 'Arnhem', 'Lombardy',
       'Aix-en-Provence', 'Turin', 'La Défense', 'Gießen', 'Debrecen',
       'Grünheide', 'Leiden', 'Boadilla del Monte', 'Bracknell', 'Venlo',
       'Münster', 'Orosháza', 'Osnabrück', 'Vitry-sur-Seine', 'Poissy',
       'Mönchengladbach', 'Carpiano', 'Rosate', 'Gaydon', 'Kosice',
       'Liège', 'Raamsdonksveer', 'Matera', 'Jonkoping County', 'Croix',
       'Luleå', 'Bernay', 'Helsingborg', 'Lithuania',
       'Fontenay-sous-Bois', 'Bollate', 'Guyancourt', 'Bulgaria',
       'Sant Just Desvern', 'San Colombano al Lambro', 'Basingstoke',
       'Arconate', 'Trezzano Rosa', 'Novate Milanese', 'Moravia-Silesia',
       "Cassano d'Adda", 'Cork', 'Sedriano', 'Nitra Region', 'Paterna',
       'Vanzaghello', "Trezzo sull'Adda", 'Getafe', 'Marcallo con Casone',
       'Vermezzo', 'Valencia'], dtype=object)

In [18]:
df_clean['applicants'].info()
df_clean = df_clean.astype({'applicants': "Int64"})
df_clean['applicants'].fillna(0, inplace=True)

<class 'pandas.core.series.Series'>
Int64Index: 524 entries, 0 to 997
Series name: applicants
Non-Null Count  Dtype
--------------  -----
411 non-null    float64
dtypes: float64(1)
memory usage: 8.2 KB

In [19]:
df_clean['company_field'].unique()

array(['Staffing and Recruiting', 'not specified',
       'IT Services and IT Consulting', 'Airlines and Aviation',
       'Information Technology & Services',
       'Transportation, Logistics, Supply Chain and Storage',
       'Real Estate', 'Entertainment Providers', 'Software Development',
       '51-200 employees', 'Technology, Information and Internet',
       'Manufacturing', 'Banking', 'Advertising Services',
       'Public Relations and Communications Services',
       'Packaging and Containers Manufacturing', '11-50 employees',
       'Telecommunications', 'Newspaper Publishing', 'Higher Education',
       'Financial Services', 'Internet Marketplace Platforms', 'Retail',
       'Insurance', 'Personal Care Product Manufacturing',
       'Human Resources Services', 'Utilities',
       'International Trade and Development', 'Information Services',
       'Computer Games', 'Retail Health and Personal Care Products',
       'Business Consulting and Services', 'Pharmaceutical Manufacturing',
       'Armed Forces', 'Farming',
       'Aviation and Aerospace Component Manufacturing',
       'Appliances, Electrical, and Electronics Manufacturing',
       'Wholesale', 'Book and Periodical Publishing',
       'Food and Beverage Manufacturing', 'Retail Apparel and Fashion',
       'Performing Arts', 'Translation and Localization',
       'Travel Arrangements', 'Government Administration',
       'Retail Luxury Goods and Jewelry',
       'Medical Equipment Manufacturing', 'Human Resources',
       'Oil and Gas', 'Internet Publishing', 'Chemical Manufacturing',
       'Motor Vehicle Manufacturing',
       'Renewable Energy Semiconductor Manufacturing', 'Market Research',
       '201-500 employees', 'Food and Beverage Services',
       'Truck Transportation', 'Consumer Services',
       'Biotechnology Research', 'Non-profit Organizations',
       'See how you compare to 9 applicants. Try Premium for free',
       'Svein Grande is hiring for this job', 'Professional Services',
       'Investment Management', 'Industrial Machinery Manufacturing',
       'Motor Vehicle Parts Manufacturing', 'Mental Health Care',
       'Outsourcing and Offshoring Consulting',
       'See how you compare to 19 applicants. Try Premium for free',
       'See how you compare to 22 applicants. Try Premium for free',
       'Environmental Services',
       'Computers and Electronics Manufacturing', '1-10 employees',
       'Printing Services', 'International Affairs',
       'Hospitals and Health Care', 'Computer and Network Security',
       'Retail Groceries', 'Wholesale Building Materials', 'Research',
       'Glass, Ceramics and Concrete Manufacturing', 'Musicians',
       'See how you compare to 13 applicants. Try Premium for free',
       'Food & Beverages',
       'See recent hiring trends for Devonshire Hayes Recruitment Specialists Ltd. Try Premium for free',
       'See how you compare to 10 applicants. Try Premium for free',
       'Defense and Space Manufacturing',
       'Mechanical Or Industrial Engineering',
       'Philanthropic Fundraising Services', 'Food Production',
       'Research Services',
       'See how you compare to 4 applicants. Try Premium for free'],
      dtype=object)

'See how you compare to 13 applicants. Try Premium for free' и '1-10 employees' (и подобные) заменим на 'not specified'

In [20]:
df_clean.loc[df_clean['company_field'].str.contains('Try Premium for free', flags=re.I), 'company_field'] = 'not specified'
df_clean.loc[df_clean['company_field'].str.contains('employees', flags=re.I), 'company_field'] = 'not specified'
df_clean['company_field'].unique()

array(['Staffing and Recruiting', 'not specified',
       'IT Services and IT Consulting', 'Airlines and Aviation',
       'Information Technology & Services',
       'Transportation, Logistics, Supply Chain and Storage',
       'Real Estate', 'Entertainment Providers', 'Software Development',
       'Technology, Information and Internet', 'Manufacturing', 'Banking',
       'Advertising Services',
       'Public Relations and Communications Services',
       'Packaging and Containers Manufacturing', 'Telecommunications',
       'Newspaper Publishing', 'Higher Education', 'Financial Services',
       'Internet Marketplace Platforms', 'Retail', 'Insurance',
       'Personal Care Product Manufacturing', 'Human Resources Services',
       'Utilities', 'International Trade and Development',
       'Information Services', 'Computer Games',
       'Retail Health and Personal Care Products',
       'Business Consulting and Services', 'Pharmaceutical Manufacturing',
       'Armed Forces', 'Farming',
       'Aviation and Aerospace Component Manufacturing',
       'Appliances, Electrical, and Electronics Manufacturing',
       'Wholesale', 'Book and Periodical Publishing',
       'Food and Beverage Manufacturing', 'Retail Apparel and Fashion',
       'Performing Arts', 'Translation and Localization',
       'Travel Arrangements', 'Government Administration',
       'Retail Luxury Goods and Jewelry',
       'Medical Equipment Manufacturing', 'Human Resources',
       'Oil and Gas', 'Internet Publishing', 'Chemical Manufacturing',
       'Motor Vehicle Manufacturing',
       'Renewable Energy Semiconductor Manufacturing', 'Market Research',
       'Food and Beverage Services', 'Truck Transportation',
       'Consumer Services', 'Biotechnology Research',
       'Non-profit Organizations', 'Svein Grande is hiring for this job',
       'Professional Services', 'Investment Management',
       'Industrial Machinery Manufacturing',
       'Motor Vehicle Parts Manufacturing', 'Mental Health Care',
       'Outsourcing and Offshoring Consulting', 'Environmental Services',
       'Computers and Electronics Manufacturing', 'Printing Services',
       'International Affairs', 'Hospitals and Health Care',
       'Computer and Network Security', 'Retail Groceries',
       'Wholesale Building Materials', 'Research',
       'Glass, Ceramics and Concrete Manufacturing', 'Musicians',
       'Food & Beverages', 'Defense and Space Manufacturing',
       'Mechanical Or Industrial Engineering',
       'Philanthropic Fundraising Services', 'Food Production',
       'Research Services'], dtype=object)

In [21]:
df_clean['index_company'] = np.arange(df_clean.shape[0])
# добавим столбец с номером-индексом оставшихся компаний

In [22]:
df_csv = df_clean.explode('full_skills')
df_csv.sample(5)

,title,location,country,employment_type,company_name,employee_qty,company_field,job_description,applicants,full_skills,index_company
190,Junior Master Data Analyst,Warsaw,Poland,Hybrid,Stryker,"10,001+ employees",Medical Equipment Manufacturing,Why finance at Str...,49,План счетов,163
137,Data analyst,Bordeaux,France,Hybrid,RH Partners,51-200 employees,not specified,Notre client est ...,0,Анализ данных,121
38,Data Analyst,Stockholm County,Sweden,Hybrid,Truecaller,201-500 employees,"Technology, Information and Internet","Hej, Truecaller ...",0,looker,34
635,Data Scientist (all genders),Vienna,Austria,Hybrid,Erste Digital,"1,001-5,000 employees",IT Services and IT Consulting,With top notch te...,44,Английский язык,380
179,Graduate Data Analyst,London,United Kingdom,On-site,New London HR,11-50 employees,Human Resources Services,This job is...,0,python,155

In [27]:
new_skills = {'data analytics': 'анализ данных',
              'аналитика': 'анализ данных',
              'microsoft azure': 'azure',
              'услуги анализа': 'анализ данных',
              'azure data factory': 'azure',
              'a/b testing': 'a/b тестирование',
              'hypothesis testing': 'a/b тестирование',
              'business analysis': 'анализ бизнес-данных',
              'visualization': 'визуализация данных',
              'machine learning algorithms': 'машинное обучение',
              'обучение': 'машинное обучение',
              'machine learning': 'машинное обучение',
              'learning': 'машинное обучение',
              'deep learning': 'машинное обучение',
              'microsoft excel': 'excel',
              'microsoft power bi': 'power bi',
              'microsoft power query': 'power query',
              'salesforce.com': 'salesforce',
              'google data studio': 'data studio'
               }
df_csv=df_csv.replace({'full_skills': new_skills})

df_csv['full_skills']=df_csv['full_skills'].str.lstrip().str.lower().str.rstrip()
df_csv.drop_duplicates()

,title,location,country,employment_type,company_name,employee_qty,company_field,job_description,applicants,full_skills,index_company
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,What You Will Achi...,47,excel,0
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,What You Will Achi...,47,spss,0
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,What You Will Achi...,47,sas,0
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,,0,NaN,1
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,Data Analyst - Lo...,0,ssis,2
...,...,...,...,...,...,...,...,...,...,...,...
993,Ingeniero de datos Power BI + Azure Datafactory,Spain,Spain,Remote,Apiux Tecnología,201-500 employees,Information Technology & Services,¡Apiux está lider...,55,power bi,521
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,This job is...,0,анализ данных,522
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,This job is...,0,визуализация данных,522
994,Stage | Data Analyst,Vermezzo,Italy,Hybrid,CPM Italy,51-200 employees,Retail,This job is...,0,excel,522
997,Analista de datos BI,Valencia,Spain,Hybrid,Infoport,51-200 employees,not specified,Funciones · Bu...,198,power bi,523

In [28]:
names_skills=df_csv['full_skills'].unique()
names_skills

array(['excel', 'spss', 'sas', nan, 'ssis', 'aws', 'gcp',
       'oracle data integrator', 'python', 'power bi', 'scala',
       'анализ данных', 'визуализация данных', 'tableau', 'dataiku',
       'qlikview', 'api', 'панель управления', 'spotfire', 'redshift',
       'looker', 'компьютерная наука', 'ssrs', 'sql',
       'анализ бизнес-данных', 'аналитические навыки',
       'статистическое моделирование', 'моделирование данных', 'bigquery',
       'a/b тестирование', 'data studio', 'google analytics',
       'salesforce', 'looker (software)', 'r', 'командная работа',
       'spark', 'немецкий язык', 'adobe analytics', 'английский язык',
       'cognos', 'ad hoc analysis', 'jira', 'microsoft office', 'domo',
       'управление проектами', 'github', 'airflow', 'французский язык',
       'hadoop', 'talend', 'экономика', 'математика', 'informatica',
       'консультирование', 'межличностное общение', 'коммуникабельность',
       'операционная деятельность', 'data feeds', 'digital technology',
       'решение задач', 'alteryx', 'модели данных', 'рассмотрение заявок',
       'snowflake', 'metabase', 'sisense', 'microstrategy', 'panorama',
       'статистика', 'моторы', 'инженерное дело', 'коммуникация',
       'high level of accuracy', 'управление предприятием', 'numpy',
       'наука о данных',
       'проектирование пользовательского интерфейса (ued)', 'azure',
       'веб-технологии', 'javascript', 'java',
       'ключевые показатели деятельности', 'vba', 'data governance',
       'html', 'payroll administration', 'bash', 'quantitative data',
       'enterprise service bus (esb) architecture', 'etl',
       'statutory accounting principles (sap)', 'недвижимость',
       'управление операциями', 'организаторские навыки',
       'metrics definition', 'спецификация требований', 'qlik sense',
       'облачные вычисления', 'google cloud platform (gcp)',
       'power query', 'бизнес-объекты', 'itil', 'interpreting data',
       'trello', 'rapidminer', 'качество данных', 'принятие решений',
       'сбор данных', 'базы данных', 'dax',
       'oracle data integrator (odi)', 'языки программирования',
       'статистика по компании', 'mysql', 'datastage', 'asana',
       'управление вознаграждением работников', 'наборы данных',
       'google bigquery', 'финансовая математика', 'основные показатели',
       'c++', 'powerpoint', 'data-driven decision making', 'matlab',
       'целевая цена', 'презентации', 'экологическая сбалансированность',
       'международная логистика', 'основные данные', 'план счетов',
       'бизнес-требования', 'витрины данных', 'microsoft dynamics nav',
       'business case preparation', 'соглашения об уровне услуг',
       'new product rollout', 'обмен электронными данными',
       'машинное обучение', 'amazon elastic mapreduce (emr)',
       'amazon kinesis', 'средства бизнес-аналитики',
       'agile software development', 'julia', 'application services',
       'cross-team collaboration', 'microsoft sql server',
       'социальные навыки', 'большие массивы данных', 'docker',
       'управление материалами', 'управление данными', 'отчетность',
       'истории пользователей', 'fivetran', 'документация',
       'google sheets', 'query languages', 'data pipelines',
       'snowflake cloud', 'сводные таблицы',
       'gmp (надлежащая производственная практика)', 'human behavior',
       'прогнозное моделирование', 'data manipulation',
       'coordinating skills', 'yellowfin bi', 'yellowfin',
       'транспортировка по трубопроводу',
       'инвестиционно-банковская деятельность',
       'биологическая статистика', 'erwin', 'социальные медиа',
       'cultural affairs', 'контроль качества', 'thoughtspot',
       'algorithm development', 'cluster analysis', 'attribution', 'unix',
       'профилактическое техническое обслуживание', 'msql',
       'написание запросов', 'технологическая подготовка производства',
       'планирование потребности в материалах', 'каталог', 'ниокр',
       'infor enterprise resource planning (erp)', 'еда и напитки',
       'custom reports', 'database queries', 'управление объемом работ',
       'предоставление данных', 'функциональные требования',
       'priority management', 'критическое мышление',
       'профессиональные навыки работы с компьютером',
       'feature extraction', 'database tools', 'web concepts',
       'организация информационных хранилищ', 'sap business objects',
       'pandas (software)', 'sharepoint', 'power point',
       'обработка естественного языка', 'sap bw', 'spring cloud',
       'amazon web services (aws)', 'автоматизация тестирования',
       'jenkins', 'aws glue', 'администрирование баз данных',
       'technical solution design', 'ecmascript', 'поддержка клиентов',
       'управление нормативно-справочной информацией',
       'product data management (pdm)', 'postgresql',
       'requirements engineering', 'industrial internet of things (iiot)',
       'цифровой маркетинг', 'togaf', 'business understanding', 'pl/sql',
       'vbscript', 'решение проблем', 'attention to detail',
       'adobe target', 'прикладная математика', 'rstudio',
       'amazon quicksight', 'интеллектуальный анализ данных',
       'dcf valuation', 'данные о клиентах',
       'розничная торговля через интернет', 'static timing analysis',
       'miro', 'ga4', 'интернет-исследование', 'обработка данных',
       'esprit', 'урегулирование споров', 'moe', 'data engineering',
       'report development', 'technical specs', 'управление логистикой',
       'recovery plans', 'database optimization', 'database monitoring',
       'ios', 'привлечение потенциальных заказчиков',
       'oral communication'], dtype=object)

In [31]:

df_clean.to_excel('df_clean.xlsx', index=False)
df_csv.to_csv('my_data.csv', index=False)
df_csv.to_excel('my_dataX.xlsx', index=False)

# Что сделали:

* Убрали дубликаты
* убрали вакансии, которые не содержат название DATA
* убрали вакансии с явно обозначенным грейдом: Senior, Lead ит.п., а также Sales, Manager
* выделили скилы в отделный столбец: full_skills из описания вакансии и описания скилов.
* заменили в столбце country названия регионов на страну, при этом удалив пробелы в начале некоторых названий стран
* на всякий случай также удалили пробелы в названии городов, вместо некоторых городов стоит название стран. Не знаю, пока ничего не сделала, но может заменить на столицы этих стран?
* поменяли формат applicants на целое число.
* убрали неопределенные описание специфики компании на 'not specified'.
* укрупнили некоторые скилы за счет перевода с английского и убрали задвоения типа: microsoft excel - excel.
* разделили на строки по столбцу со скилами.
* записали файлы(3 варианта - это для меня посмотреть еще и в Excel данные)